:root{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto 400", sans-serif;
    transition: 0.2s linear;
    color: #fff;
}

body{
    background-color: rgb(29, 29, 29);
}

.header{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.header section{
    max-width: 100%;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.logo{
    position:absolute;
    left: 20px;
    top: 15px;
}

.navbar{
    margin-top: 15px;
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

.navbar a{
    color: white;
    padding: 3px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
}

.navbar a:hover{
    transform: scale(1.15);
    background-color: white;
    color: rgb(29, 29, 29);
}

.main{
    padding: 57px 45px 0;
}

.titulo{
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 4rem;
}

.subtitulo{
    margin: 10px;
    font-size: 2.5rem;
}

.texto{
    font-size: 1.7rem;
    padding-bottom: 30px;
}

.projetos{
    text-align: justify;
    flex: 1 1 calc(50% - 30px);
    padding: 25px;
    border-radius: 20px;
    background-color: rgb(42, 42, 42);
    height: fit-content;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projetos img{
    width: 100%;
    height: 50%;
    border-radius: 15px;
}