:root{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto 400", sans-serif;
    transition: 0.2s linear;
    color: #fff;
}

body{
    background-color: rgb(29, 29, 29);
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.header section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.logo{
    position:absolute;
    left: 15px;
    top: 15px;
}

.navbar{
    margin-top: 15px;
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

.navbar a{
    color: white;
    padding: 3px;
}

.navbar a:hover{
    transform: scale(1.15);
    border-bottom: 0.1rem solid white;
}

.main{
    padding-top: 57px;
    padding-left: 80px;
}

.titulo{
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 4rem;
}

.subtitulo{
    margin: 20px;
    font-size: 2.5rem;
}

.texto{
    font-size: 1.7rem;
    padding-bottom: 30px;
}

.container{
    padding-right: 90px;
}